body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating {
    width: 400px;
    background-color: var(--DarkBlue);
    padding: 25px;
    border-radius: 25px;
    
}
.rating:nth-child(1) img {
    background-color: var(--Grey);
    width: 48px;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.rating h1 {
    color: var(--White);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}
.rating p {
    color: var(--LightGrey);
    font-size: 15px;
}
.btnSubmit {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--Orange);
    font-family: var(--Overpass);
    font-weight: 700;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.btnSubmit:hover {
    background-color: var(--White);
}


.valueContainer {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.valueItem {
    width: 48px;
    height: 48px;
    color: var(--LightGrey);
    border-radius: 50%;
    background-color: var(--Grey);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    transition: 0.2s;
}
.valueItem:hover {
    background-color: var(--Orange);
    color: var(--DarkBlue);
}
.valueItem:focus {
    background-color: var(--White);
    color: var(--DarkBlue);
}


.thankYou {
    text-align: center;
}
.thankYou h1 {
    margin-top: 20px;
}
.thankYou img {
    margin-bottom: 20px;
}

.selectedRate {
    margin: auto;
    width: fit-content;
    display: block;
    background-color: var(--Grey);
    padding: 2px;
    border-radius: 10px;
    color: var(--Orange) !important;
}